<div class="all-screen">
  <div class="row header">
    <div class="col-lg-2 col-md-2 col-sm-12 select-number">
      <div>select phone</div>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-12 title">
      <div class="img-container">
          <img src="http://via.placeholder.com/24x24" alt="">
      </div>
      <div>
        Biznet
      </div>
    </div>
  </div>

  <div>
    <div class="row main-container">
      <div class="col-lg-2 col-md-2 col-sm-12 sidebar">
        <div class="container">
          <app-menu-button [routerTo]="['status']" [title]="'סטטוס נתב'"></app-menu-button>
          <app-menu-button [routerTo]="['b']" [title]="'סטטוס נתב'"></app-menu-button>
          <app-menu-button [routerTo]="['c']" [title]="'סטטוס נתב'"></app-menu-button>
          <app-menu-button [routerTo]="['d']" [title]="'סטטוס נתב'"></app-menu-button>
          <app-menu-button [routerTo]="['e']" [title]="'סטטוס נתב'"></app-menu-button>
        </div>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-12 pages-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
